@model RealStateApp.Core.Application.ViewModels.Properties.DetailsPropertyViewModel
@{
    ViewData["Title"] = "Detalles de propiedad";

}

<div class="container-fluid">
    <div class="row">
        
            
        <div class="col-8 offset-2">
            <div class="card shadow-sm">
                
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <buttom type="buttom" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </buttom>
                    </div>
                }
                else
                {
                    <div class="mb-1">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                                
                                <div class="carousel-item active">
                                    <img src="@Model.MainImageUrl" class="d-block w-100 carousel-img" alt="Imagen principal">
                                </div>
                                
                                @{var conteo = 2;}
                                @foreach (var img in Model.OptionalImages)
                                {
                                    <div class="carousel-item">
                                        <img src="@img" class="d-block w-100 carousel-img" alt="imagen @conteo">
                                    </div>
                                    conteo++;
                                }
                                
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    


                    <div class="card-body">
                        
                        <div class="mb-4">
                            <h5 class="card-title">@Model.PropertyType.Name</h5>
                            <hr />
                            <p class="card-text custom-paragraph"><strong>Código:</strong> @Model.Code</p>
                            <p class="card-text custom-paragraph"><strong>@Model.SaleType.Name:</strong> RD$@Model.Price.ToString("N0")</p>
                            <p class="card-text custom-paragraph">
                                <i class="fas fa-bed"></i> <strong>Habitaciones:</strong> @Model.Bedrooms
                            </p>
                            <p class="card-text custom-paragraph">
                                <i class="fas fa-bath"></i> <strong>Baños:</strong> @Model.Bathrooms
                            </p>
                            <p class="card-text custom-paragraph">
                                <i class="fas fa-ruler-combined"></i> <strong>Superficie:</strong> @Model.Size M
                            </p>
                            <p class="card-text custom-paragraph">
                                <i class="fas fa-ruler-combined"></i> <strong>Descripcion:</strong> @Model.Description
                            </p>

                            <p class="card-text custom-paragraph">
                                 <strong>Mejoras:</strong>
                            
                            @if (Model.Improvements != null && Model.Improvements.Count > 0)
                            {
                                <div class="improvement-container">
                                    @foreach (var imp in Model.Improvements)
                                    {
                                        <div class="improvement-item">
                                            @imp.Improvement.Name
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {

                                 <span>N/a</span>
                            }
                            </p>
                            <hr />
                        </div>
                        
                        
                        

                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="@Model.Agent.AccountImgUrl" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">acerca del vendedor</h5>
                                        <hr />
                                        <p class="card-text custom-paragraph"><strong>Nombre:</strong> @Model.Agent.FirstName @Model.Agent.LastName</p>
                                        <p class="card-text custom-paragraph"><strong>Celular:</strong> @Model.Agent.Phone </p>
                                        <p class="card-text custom-paragraph"><strong>Correo:</strong> @Model.Agent.Email </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    

                }
                <div class="card-body">
                    @if (Model.RedirectTo == "GetAllByAgentId")
                    {
                        <a asp-controller="ClientHome" asp-action="@Model.RedirectTo" asp-route-id="@Model.AgentId" class="btn btn-outline-warning float-start ">Volver</a>
                    }
                    else
                    {
                        <a asp-controller="ClientHome" asp-action="@Model.RedirectTo" class="btn btn-outline-warning float-start ">Volver</a>

                    }
                </div>

            </div>
        </div>




    </div>

</div>
