@model List<RealStateApp.Core.Application.ViewModels.Properties.PropertyViewModel>

@{
    ViewData["Title"] = "Home Page";
    var propertyTypes = ViewBag.propertyTypes;
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-9">
            <h2 class="float-start">Home</h2>

        </div>




    </div>
    <hr />
    <div class="row">
        <div class="col-2 border border-dark border-2 rounded-3 rounded-end">


            <div class="card mt-2" style="width: 100%;">

                <div class="card-body">
                    <form method="post" asp-controller="ClientHome" asp-action="SearchByCode">
                        <div class="mb-2">
                            <label for="Code" class="form-label"> Busqueda por codigo</label>
                            <input type="text" name="Code" id="Code" class="form-control" />

                        </div>

                        <button type="submit" class="btn btn-primary mb-2 w-100">Buscar</button>
                    </form>
                </div>
            </div>

            <div class="card mt-2" style="width: 100%;">

                <div class="card-header">
                    <p>Filtrado por diversas cosas</p>
                </div>

                <div class="card-body">
                    <form method="post" asp-controller="ClientHome" asp-action="Filters">

                        <div class="mb-3">
                            <label for="PropertyTypeIdfilter" class="form-label">Tipo de propiedad: </label>
                            <select name="PropertyTypeIdfilter" id="PropertyTypeIdfilter" class="form-select">
                                <option value="0">Seleccione una opcion</option>
                                @if (propertyTypes != null && propertyTypes.Count > 0)
                                {
                                    @foreach (var item in propertyTypes)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                                else
                                {
                                    <p class="text-warning">No hay tipos de propiedades</p>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="MinPrice" class="form-label">Precio minimo: </label>
                            <input name="MinPrice" id="MinPrice" type="number" class="form-control" placeholder="precio minimo" />
                        </div>
                        <div class="mb-3">
                            <label for="MaxPrice" class="form-label">Precio maximo: </label>
                            <input name="MaxPrice" id="MaxPrice" type="number" class="form-control" placeholder="precio maximo" />
                        </div>

                        <div class="mb-3">
                            <label for="BedromsQuantity" class="form-label">Num habitaciones: </label>
                            <input name="BedromsQuantity" id="BedromsQuantity" type="number" class="form-control" placeholder="num habitaciones" />
                        </div>

                        <div class="mb-3">
                            <label for="BathroomsQuantity" class="form-label">Num baños: </label>
                            <input name="BathroomsQuantity" id="BathroomsQuantity" type="number" class="form-control" placeholder="num baños" />
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mb-2 mt-1">Filtrar</button>
                    </form>


                </div>
            </div>

        </div>

        <div class="col-10 ">

            <div class="row">
                @if (Model == null || Model.Count() == 0)
                {
                    <div class="alert alert-warning ms-2" role="alert">
                        No hay propiedades para mostrar
                    </div>

                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-2 mb-6">
                            <div class="card shadow-sm border-light mb-5">
                                <img src="@item.MainImageUrl" class="card-img-top img-card-size" alt="Imagen de la propiedad" />

                                <div class="card-body">
                                    <h5 class="card-title">@item.PropertyType.Name</h5>
                                    <hr />
                                    <p class="card-text custom-paragraph"><strong>Código:</strong> @item.Code</p>
                                    <p class="card-text custom-paragraph"><strong>@item.SaleType.Name:</strong> RD$ @item.Price.ToString("N0")</p>
                                    <p class="card-text custom-paragraph">
                                        <i class="fas fa-bed"></i> <strong>Habitaciones:</strong> @item.Bedrooms
                                    </p>
                                    <p class="card-text custom-paragraph">
                                        <i class="fas fa-bath"></i> <strong>Baños:</strong> @item.Bathrooms
                                    </p>
                                    <p class="card-text custom-paragraph">
                                        <i class="fas fa-ruler-combined"></i> <strong>Superficie:</strong> @item.Size M
                                    </p>
                                </div>

                                <div class="card-footer">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">

                                            @if (item.IsFavorite)
                                            {
                                                <a asp-controller="ClientHome" asp-action="ChangeFavoritePropertyStatus" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Quitar de favorito</a>
                                            }
                                            else
                                            {
                                                <a asp-controller="ClientHome" asp-action="ChangeFavoritePropertyStatus" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">Agregar a favorito</a>
                                            }

                                            <a asp-controller="ClientHome" asp-action="Details" asp-route-id="@item.Id" asp-route-RedirectTo="Index" class="btn btn-sm btn-outline-info">Detalle</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                }
            </div>
        </div>
    </div>

</div>

